$fa-font-path: "~font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../styles/variables";

body {
  overflow: hidden;

  width: 100vw;
  height: 100vh;

  margin: 0;
}

.app {
  height: 100%;
}

.container {
  position: relative;

  height: 100%;
}

.hidden {
  display: none;
}

.btn {
  font-size: 2rem;
  color: $gray-light;

  background-color: rgba($brand-info, 0.45);

  position: relative;
  display: inline-block;

  width: 3rem;
  height: 3rem;

  margin-left: 2rem;

  border-radius: 50%;
  border: none;

  box-shadow: 5px 5px 10px $gray-dark;

  cursor: pointer;

  transition: box-shadow 0.1s ease;

  &:active {
    box-shadow: 0 0 0 $gray-base;
  }

  &:focus {
    outline: none;
  }

  &:first-child {
    margin-left: 0;
  }

  &_flat {
    background: none;

    position: relative;

    box-shadow: none;
  }

  &_shot {
    z-index: 1;
  }

  &_switch {
    background-color: rgba($gray-light, 0.15);

    z-index: 1;
  }

  &_save {
    color: $gray-light;
    text-decoration: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &_resolution {
    display: none;
  }
}

.header-buttons {
  position: absolute;

  height: 5rem;

  top: 0;
  left: 0;
  right: 0;
}

.footer-buttons {
  text-align: right;

  display: flex;
  position: absolute;

  height: 4rem;

  bottom: 0;
  left: 0;
  right: 0;

  &__left {
    text-align: left;

    flex-grow: 1;
    flex-basis: 50%;

    padding-left: 1rem;
  }

  &__right {
    text-align: right;

    flex-grow: 1;
    flex-basis: 50%;

    padding-right: 1rem;
  }
}

.filters-pane {
  background-color: rgba($gray-base, 0.5);

  position: absolute;
  display: flex;
  flex-direction: column;

  height: 8rem;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2000;

  overflow-y: hidden;

  transform: translateY(100%);
  transition: transform 0.2s ease;

  &_visible {
    transform: translateY(0);
  }

  &__header {
    text-align: right;
    height: 3rem;

    padding: 0.5rem 0;
  }

  &__body {
    display: flex;
    flex: 1;

    padding: 0.5rem 1rem;

    overflow-x: scroll;
  }

}

.filters-btn {
  color: $gray-light;
  font-size: 1.5rem;
  text-shadow: 0 1px $gray-base, 1px 0 $gray-base, -1px 0 $gray-base, 0 -1px $gray-base;
  white-space: nowrap;

  background-color: transparent;

  margin-right: 1rem;
  padding: 0.25rem 0.5rem;

  border: 2px solid $gray-light;
  border-radius: 5px;

  &_active {
    color: $gray-dark;
    text-shadow: none;

    background-color: $gray-light;
  }
}

.video {
  &_hidden {
    display: none;
  }
}

.canvas {
  &_hidden {
    display: none;
  }
}

.resolution-settings {
  display: none;
}

@media (min-width: 768px) {
  body {
    background: $gray-dark;
  }

  .app {
    padding-top: 2rem;
  }

  .stage {
    position: relative;
    overflow: hidden;
  }

  .header-buttons {
    left: 50%;

    transform: translateX(-50%);
  }

  .footer-buttons {
    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
  }

  .filters-pane {
    height: 9rem;

    bottom: 0;
    left: 50%;

    transform: translateX(-50%) translateY(150%);

    &_visible {
      transform: translateX(-50%) translateY(0);
    }
  }

  .video,
  .canvas {
    display: block;

    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .btn {
    &_resolution {
      font-size: 1.5rem;

      display: inline-block;
    }
  }
}
