$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "../styles/variables";

.container {
  position: relative;

  height: 100%;
}

.hidden {
  display: none;
}

.button-shot,
.button-save {
  font-size: 2rem;
  background-color: $brand-danger;

  position: absolute;

  bottom: 20px;
  right: 20px;
  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  border: none;

  box-shadow: 5px 5px 10px $gray-base;

  transition: box-shadow 0.1s ease;

  &:active {
    box-shadow: 0 0 0;
  }

  &:focus {
    outline: none;
  }
}

.button-save {
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.button-back {
  color: white;
  font-size: 2rem;
  text-shadow: 0 1px black,  0 -1px black,  1px 0 black,  -1px 0 black;

  background-color: transparent;

  position: absolute;

  top: 20px;
  left: 20px;
  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  border: none;

  &:focus {
    outline: none;
  }
}
