$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "../styles/variables";

.container {
  position: relative;

  height: 100%;
}

.hidden {
  display: none;
}

.button-shot,
.button-save,
.button-filters,
.button-share,
.button-switch,
.button-back {
  font-size: 2rem;
  color: $gray-light;

  background-color: rgba($brand-info, 0.45);

  position: absolute;

  bottom: 20px;
  right: 20px;
  width: 3rem;
  height: 3rem;

  border-radius: 50%;
  border: none;

  box-shadow: 5px 5px 10px $gray-base;

  transition: box-shadow 0.1s ease;

  &:active {
    box-shadow: 0 0 0;
  }

  &:focus {
    outline: none;
  }
}

.button-switch {
  background-color: rgba($gray-light, 0.15);

  top: 20px;
  bottom: auto;

  z-index: 1;
}

.button-save {
  color: $gray-light;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-filters {
  left: 20px;
  right: auto;
}

.button-share {
  left: 50%;
  right: auto;

  transform: translateX(-50%);
}

.button-back {
  background-color: rgba(white, 0.15);

  top: 20px;
  left: 20px;
  bottom: auto;
}
